node_modules/
dist/
.env
.env.local
.env.*
.env.production
.env.test
.env.test.local
.env.test.production
.env.test.development
.env.test.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.cache
.parcel-cache
.next
out
.nuxt
dist
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.env.test
.env.production